/**
 * Basic Page nodes.
 */

.node--type--page {
  @include clearfix;
  overflow: hidden;

  .node__title {
    @include spacing--h;
    margin-top: $spacing--v--large;
    text-align: center;
  }

  .node__content {
    @include clearfix;
    @include spacing--h;
    overflow: hidden;
  }
}
