/**
 * All Rental Properties page.
 */

.page--node--18 {
  .main-content .field--name-body {
    max-width: $max-width--medium;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
