/**
 * Home page.
 */

.path-frontpage {
  .node--type--page {
    .node__title {
      display: none;
    }

    .field--name-body {
      @include spacing--h;
      margin-top: 40px;
      margin-bottom: 40px;
      text-align: center;
    }
  }
}
