/**
 * Typography.
 */

// Base typography

body,
html {
  font-size: 15px;
  font-family: $font--open-sans;
  color: $c--dark-gray;

  @include breakpoint($bp--medium) {
    font-size: 16px;
  }
}

p {
  line-height: 1.6;
  margin: .9rem 0;

  @include breakpoint($bp--large) {
    margin: 1rem 0;
  }
}

label {
  color: $c--dark-green;
}

// Headers

h1,
h2,
h3,
h4 {
  line-height: 1.4;
  margin: 1.2rem 0;
  font-family: $font--bree-serif;
  font-weight: 400;
  color: $c--dark-green;

  @include breakpoint($bp--large) {
    margin: 1.3rem 0;
    font-weight: 700;
  }
}

h1 {
  font-size: 2rem;

  @include breakpoint($bp--large) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.8rem;

  @include breakpoint($bp--large) {
    font-size: 2.1rem;
  }
}

h3 {
  font-size: 1.3rem;

  @include breakpoint($bp--large) {
    font-size: 1.6rem;
  }
}

h4 {
  margin: 1rem 0;
  font-size: 1.1rem;

  @include breakpoint($bp--large) {
    margin: 1.1rem 0;
    font-size: 1.2rem;
  }
}

h1, h2, h3, h4 {
  a {
    text-decoration: none;
  }
}


// Text styles

// White text and links
@mixin text-color--white {
  color: $c--white;

  a {
    color: $c--white;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $c--orange;
    }
  }
}

// Large font-size
@mixin font-size--large {
  font-size: 1.2rem;
}

// Small font-size
@mixin font-size--small {
  font-size: .85rem;
}
