/**
 * Block - Contact Us.
 */

.block-id--block-contactus {
  @include spacing--h;
  padding-top: $spacing--v--large;
  background-color: $c--medium-green;

  .block__title {
    @include spacing--h;
    max-width: $max-width--small;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: $c--white;
  }

  .field--name-body {
    @include spacing--h;
    position: relative;
    max-width: $max-width--small;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-radius: $border-radius--small $border-radius--small 0 0;
    background-color: $c--white;

    &:before {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 50%;
      left: calc(50% - 10px);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 15px 0 15px;
      border-color: $c--white transparent transparent transparent;
      z-index: 1;
    }

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}
